.btn-master, .btn-login, .btn-explore, .btn-travel-details {
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-login {
  background: #18646B;
  color: #fff;
}

.btn-login:hover {
  background: #12424C;
  color: #fff;
}

.btn-navbar-right {
  padding: 11px 30px;
  margin-left: 30px;
}

.btn-explore {
  background: #18646B;
  color: #fff;
  padding: 16px 30px;
  margin: 15px 15px 15px 50px;
}

.btn-explore:hover {
  background: #12424C;
  color: #fff;
}

.btn-travel-details {
  background: #18646B;
  color: #fff;
  padding: 10px 38px;
}

.btn-travel-details:hover {
  background: #12424C;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
}

.sticky {
  background-color: #12424C;
}

.navbar-nomads .navbar-nav li {
  padding-left: 40px;
  font-size: 18px;
}

.banner {
  position: relative;
  width: 100%;
}

.banner .bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #18646B;
}

.banner .bg .banner-nomads {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .bg .content-banner {
  position: relative;
  padding-top: 205px;
  color: #fff;
}

.banner .bg .content-banner .subtitle {
  font-size: 22px;
  font-weight: 500;
}

.banner .bg .content-banner .title {
  font-size: 50px;
  font-weight: 700;
  margin: 8px 0 20px;
  line-height: 75px;
}

.banner .bg .content-banner .description {
  font-size: 20px;
}

.banner .bg .searchBox {
  position: absolute;
  margin-top: 96px;
  color: #fff;
  -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.25);
}

.banner .bg .searchBox form {
  background: #fff;
  color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.banner .bg .searchBox form .inputBox {
  padding: 17px 0 17px 50px;
}

.banner .bg .searchBox form .inputBox label {
  font-size: 20px;
  font-weight: 500;
  color: #12424C;
  margin-bottom: 10px;
}

.banner .bg .searchBox form .inputBox input {
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-popular {
  min-height: 572px;
  margin-bottom: -283px;
  background: #12424C;
  color: #fff;
}

.section-popular .popular-heading {
  padding: 100px 0 353px;
}

.section-popular .popular-heading .title {
  font-size: 40px;
  font-weight: 700;
}

.section-popular .popular-heading .subtitle {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 486px;
  background-color: #000;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .card-travel .travel-country {
  font-size: 18px;
  font-weight: 400;
}

.section-popular-content .section-popular-travel .card-travel .travel-location {
  font-size: 26px;
  font-weight: 600;
}

.section-popular-content .section-popular-travel .card-travel:hover {
  -webkit-transform: scale();
          transform: scale();
}

.section-experience .experience-heading {
  margin-top: 80px;
}

.section-experience .experience-heading .title {
  color: #12424C;
  font-size: 26px;
  line-height: 39px;
  font-weight: 600;
}

.section-experience-stats {
  margin-top: 83px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 200px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  place-items: center;
}

.section-experience-stats .stats-detail h2 {
  color: #12424C;
  font-size: 30px;
  font-weight: 600;
}

.section-experience-stats .stats-detail p {
  color: #18646B;
  font-size: 20px;
  font-weight: 300;
}
/*# sourceMappingURL=main.css.map */