@import './colors';
@import './buttons';
@import './fonts';

body {
	font-family: 'Poppins', sans-serif;
}

.container {
	margin: 0px 138px;
}

.navbar-nomads {
	.navbar-nav {
		li {
			padding-left: 40px;
			font-size: 18px;
		}
		.active {
			font-weight: map-get($font-weights, medium);
			text-decoration: underline;
		}
	}
}

.hero-content {
	.image-hero {
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}
}