@import './colors';
@import './buttons';
@import './fonts';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.container {
	margin: 0 auto;
}

.navbar-nomads {
	.navbar-nav {
		li {
			padding-left: 40px;
			font-size: 18px;
		}
	}
}

.banner {
	position: relative;
	width: 100%;

	.bg {
		position: relative;
		width: 100%;
		height: 100vh;
		background: $greenlight;

		.banner-nomads {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.content-banner {
			position: relative;
			padding-top: 205px;
			color: $white;

			.subtitle {
				font-size: 22px;
				font-weight: map-get($font-weights, medium);
			}
			.title {
				font-size: 50px;
				font-weight: map-get($font-weights, bold);
				margin: 8px 0 20px;
				line-height: 75px;
			}
			.description {
				font-size: 20px;
			}
		}
		.searchBox {
			position: absolute;
			margin-top: 96px;
			color: $white;
			box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.25);
			
		
			
			form {
				background: $white;
				color: green;
				display: flex;
				border-radius: 8px;

				.inputBox {
					padding: 17px 0 17px 50px;

					label {
						font-size: 20px;
						font-weight: map-get($font-weights, medium);
						color: $green;
						margin-bottom: 10px;
					}
					.form-control {
						padding: 0;
						border: none;
						box-shadow: none;
					}
				}
			}
		}
	}
}

.popular {
	background: $green;
	color: $white;

	.popular-heading {
		padding: 100px 0 353px;

		.title {
			font-size: 40px;
			font-weight: map-get($font-weights, bold);
		}
	}
}